In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('pdf', 'svg')

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/major_project/large/Insurance_Fraud_Detection/telematics_syn-032021.csv')
df.head(5)

,Duration,Insured.age,Insured.sex,Car.age,Marital,Car.use,Credit.score,Region,Annual.miles.drive,Years.noclaims,...,Left.turn.intensity10,Left.turn.intensity11,Left.turn.intensity12,Right.turn.intensity08,Right.turn.intensity09,Right.turn.intensity10,Right.turn.intensity11,Right.turn.intensity12,NB_Claim,AMT_Claim
0,366,45,Male,-1,Married,Commute,609.0,Urban,6213.71,25,...,1.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,1,5100.171753
1,182,44,Female,3,Married,Commute,575.0,Urban,12427.42,20,...,58.0,24.0,11.0,1099.0,615.0,219.0,101.0,40.0,1,883.554840
2,184,48,Female,6,Married,Commute,847.0,Urban,12427.42,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000000
3,183,71,Male,6,Married,Private,842.0,Urban,6213.71,43,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000000
4,183,84,Male,10,Married,Private,856.0,Urban,6213.71,65,...,2.0,0.0,0.0,325.0,111.0,18.0,4.0,2.0,0,0.000000

In [4]:
df.shape

(100000, 52)

In [5]:
df.isna().sum()

Duration                  0
Insured.age               0
Insured.sex               0
Car.age                   0
Marital                   0
Car.use                   0
Credit.score              0
Region                    0
Annual.miles.drive        0
Years.noclaims            0
Territory                 0
Annual.pct.driven         0
Total.miles.driven        0
Pct.drive.mon             0
Pct.drive.tue             0
Pct.drive.wed             0
Pct.drive.thr             0
Pct.drive.fri             0
Pct.drive.sat             0
Pct.drive.sun             0
Pct.drive.2hrs            0
Pct.drive.3hrs            0
Pct.drive.4hrs            0
Pct.drive.wkday           0
Pct.drive.wkend           0
Pct.drive.rush am         0
Pct.drive.rush pm         0
Avgdays.week              0
Accel.06miles             0
Accel.08miles             0
Accel.09miles             0
Accel.11miles             0
Accel.12miles             0
Accel.14miles             0
Brake.06miles             0
Brake.08miles             0
Brake.09miles             0
Brake.11miles             0
Brake.12miles             0
Brake.14miles             0
Left.turn.intensity08     0
Left.turn.intensity09     0
Left.turn.intensity10     0
Left.turn.intensity11     0
Left.turn.intensity12     0
Right.turn.intensity08    0
Right.turn.intensity09    0
Right.turn.intensity10    0
Right.turn.intensity11    0
Right.turn.intensity12    0
NB_Claim                  0
AMT_Claim                 0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 52 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Duration                100000 non-null  int64
 1   Insured.age             100000 non-null  int64
 2   Insured.sex             100000 non-null  object
 3   Car.age                 100000 non-null  int64
 4   Marital                 100000 non-null  object
 5   Car.use                 100000 non-null  object
 6   Credit.score            100000 non-null  float64
 7   Region                  100000 non-null  object
 8   Annual.miles.drive      100000 non-null  float64
 9   Years.noclaims          100000 non-null  int64
 10  Territory               100000 non-null  int64
 11  Annual.pct.driven       100000 non-null  float64
 12  Total.miles.driven      100000 non-null  float64
 13  Pct.drive.mon           100000 non-null  float64
 14  Pct.drive.tue           100000 non-null  float64
 15  Pct.drive.wed           100000 non-null  float64
 16  Pct.drive.thr           100000 non-null  float64
 17  Pct.drive.fri           100000 non-null  float64
 18  Pct.drive.sat           100000 non-null  float64
 19  Pct.drive.sun           100000 non-null  float64
 20  Pct.drive.2hrs          100000 non-null  float64
 21  Pct.drive.3hrs          100000 non-null  float64
 22  Pct.drive.4hrs          100000 non-null  float64
 23  Pct.drive.wkday         100000 non-null  float64
 24  Pct.drive.wkend         100000 non-null  float64
 25  Pct.drive.rush am       100000 non-null  float64
 26  Pct.drive.rush pm       100000 non-null  float64
 27  Avgdays.week            100000 non-null  float64
 28  Accel.06miles           100000 non-null  float64
 29  Accel.08miles           100000 non-null  float64
 30  Accel.09miles           100000 non-null  float64
 31  Accel.11miles           100000 non-null  float64
 32  Accel.12miles           100000 non-null  float64
 33  Accel.14miles           100000 non-null  float64
 34  Brake.06miles           100000 non-null  float64
 35  Brake.08miles           100000 non-null  float64
 36  Brake.09miles           100000 non-null  float64
 37  Brake.11miles           100000 non-null  float64
 38  Brake.12miles           100000 non-null  float64
 39  Brake.14miles           100000 non-null  float64
 40  Left.turn.intensity08   100000 non-null  float64
 41  Left.turn.intensity09   100000 non-null  float64
 42  Left.turn.intensity10   100000 non-null  float64
 43  Left.turn.intensity11   100000 non-null  float64
 44  Left.turn.intensity12   100000 non-null  float64
 45  Right.turn.intensity08  100000 non-null  float64
 46  Right.turn.intensity09  100000 non-null  float64
 47  Right.turn.intensity10  100000 non-null  float64
 48  Right.turn.intensity11  100000 non-null  float64
 49  Right.turn.intensity12  100000 non-null  float64
 50  NB_Claim                100000 non-null  int64
 51  AMT_Claim               100000 non-null  float64
dtypes: float64(42), int64(6), object(4)
memory usage: 39.7+ MB

In [7]:
df.NB_Claim.value_counts()

0    95728
1     4061
2      200
3       11
Name: NB_Claim, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [9]:
df['Insured.sex'] = le.fit_transform(df['Insured.sex'])
df['Marital'] = le.fit_transform(df['Marital'])
df['Car.use'] = le.fit_transform(df['Car.use'])
df['Region'] = le.fit_transform(df['Region'])

In [10]:
df.head(3)

,Duration,Insured.age,Insured.sex,Car.age,Marital,Car.use,Credit.score,Region,Annual.miles.drive,Years.noclaims,...,Left.turn.intensity10,Left.turn.intensity11,Left.turn.intensity12,Right.turn.intensity08,Right.turn.intensity09,Right.turn.intensity10,Right.turn.intensity11,Right.turn.intensity12,NB_Claim,AMT_Claim
0,366,45,1,-1,0,1,609.0,1,6213.71,25,...,1.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,1,5100.171753
1,182,44,0,3,0,1,575.0,1,12427.42,20,...,58.0,24.0,11.0,1099.0,615.0,219.0,101.0,40.0,1,883.554840
2,184,48,0,6,0,1,847.0,1,12427.42,14,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.000000

In [11]:
import matplotlib.pyplot as plt
plt.figure(figsize = (50, 50))
sns.heatmap(data = df.corr(), annot = True, fmt = '.2g', linewidth = 1)
plt.show()

Output hidden; open in https://colab.research.google.com to view.

In [12]:
corrs = df.corr()['NB_Claim']
columns = corrs[corrs > .001].index
corrs = corrs.filter(columns)
corrs.sort_values(ascending=False)

NB_Claim                  1.000000
AMT_Claim                 0.528515
Total.miles.driven        0.181060
Annual.pct.driven         0.168464
Duration                  0.082083
Avgdays.week              0.050272
Brake.06miles             0.045633
Annual.miles.drive        0.041297
Brake.08miles             0.038756
Accel.06miles             0.030259
Pct.drive.rush pm         0.028721
Pct.drive.2hrs            0.022346
Region                    0.022334
Marital                   0.020760
Brake.09miles             0.016684
Left.turn.intensity08     0.013435
Pct.drive.thr             0.012478
Left.turn.intensity09     0.012205
Pct.drive.3hrs            0.010584
Left.turn.intensity10     0.010072
Left.turn.intensity12     0.009975
Left.turn.intensity11     0.009796
Right.turn.intensity10    0.009557
Right.turn.intensity11    0.009304
Accel.08miles             0.009168
Right.turn.intensity09    0.008940
Right.turn.intensity08    0.008840
Right.turn.intensity12    0.007664
Brake.11miles             0.006244
Pct.drive.wkday           0.005085
Pct.drive.mon             0.004896
Pct.drive.rush am         0.004401
Accel.09miles             0.001756
Pct.drive.4hrs            0.001414
Name: NB_Claim, dtype: float64

In [13]:
df.columns

Index(['Duration', 'Insured.age', 'Insured.sex', 'Car.age', 'Marital',
       'Car.use', 'Credit.score', 'Region', 'Annual.miles.drive',
       'Years.noclaims', 'Territory', 'Annual.pct.driven',
       'Total.miles.driven', 'Pct.drive.mon', 'Pct.drive.tue', 'Pct.drive.wed',
       'Pct.drive.thr', 'Pct.drive.fri', 'Pct.drive.sat', 'Pct.drive.sun',
       'Pct.drive.2hrs', 'Pct.drive.3hrs', 'Pct.drive.4hrs', 'Pct.drive.wkday',
       'Pct.drive.wkend', 'Pct.drive.rush am', 'Pct.drive.rush pm',
       'Avgdays.week', 'Accel.06miles', 'Accel.08miles', 'Accel.09miles',
       'Accel.11miles', 'Accel.12miles', 'Accel.14miles', 'Brake.06miles',
       'Brake.08miles', 'Brake.09miles', 'Brake.11miles', 'Brake.12miles',
       'Brake.14miles', 'Left.turn.intensity08', 'Left.turn.intensity09',
       'Left.turn.intensity10', 'Left.turn.intensity11',
       'Left.turn.intensity12', 'Right.turn.intensity08',
       'Right.turn.intensity09', 'Right.turn.intensity10',
       'Right.turn.intensity11', 'Right.turn.intensity12', 'NB_Claim',
       'AMT_Claim'],
      dtype='object')

In [14]:
print(columns)

Index(['Duration', 'Marital', 'Region', 'Annual.miles.drive',
       'Annual.pct.driven', 'Total.miles.driven', 'Pct.drive.mon',
       'Pct.drive.thr', 'Pct.drive.2hrs', 'Pct.drive.3hrs', 'Pct.drive.4hrs',
       'Pct.drive.wkday', 'Pct.drive.rush am', 'Pct.drive.rush pm',
       'Avgdays.week', 'Accel.06miles', 'Accel.08miles', 'Accel.09miles',
       'Brake.06miles', 'Brake.08miles', 'Brake.09miles', 'Brake.11miles',
       'Left.turn.intensity08', 'Left.turn.intensity09',
       'Left.turn.intensity10', 'Left.turn.intensity11',
       'Left.turn.intensity12', 'Right.turn.intensity08',
       'Right.turn.intensity09', 'Right.turn.intensity10',
       'Right.turn.intensity11', 'Right.turn.intensity12', 'NB_Claim',
       'AMT_Claim'],
      dtype='object')

In [15]:
# feat=df.columns.values
feat= ['Duration', 'Marital', 'Region', 'Annual.miles.drive',
       'Annual.pct.driven', 'Total.miles.driven', 'Pct.drive.mon',
       'Pct.drive.thr', 'Pct.drive.2hrs', 'Pct.drive.3hrs', 'Pct.drive.4hrs',
       'Pct.drive.wkday', 'Pct.drive.rush am', 'Pct.drive.rush pm',
       'Avgdays.week', 'Accel.06miles', 'Accel.08miles', 'Accel.09miles',
       'Brake.06miles', 'Brake.08miles', 'Brake.09miles', 'Brake.11miles',
       'Left.turn.intensity08', 'Left.turn.intensity09',
       'Left.turn.intensity10', 'Left.turn.intensity11',
       'Left.turn.intensity12', 'Right.turn.intensity08',
       'Right.turn.intensity09', 'Right.turn.intensity10',
       'Right.turn.intensity11', 'Right.turn.intensity12', 'AMT_Claim']

In [16]:
X = df[feat]
y = df.NB_Claim

In [17]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 5, stratify=y)

In [18]:
y_train.value_counts()

0    71796
1     3046
2      150
3        8
Name: NB_Claim, dtype: int64

In [19]:
# smt = SMOTE()
# X_train, y_train = smt.fit_resample(X_train, y_train)
# np.bincount(y_train)

In [20]:
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
# from tensorflow.keras.utils import plot_model
# from tensorflow.keras.losses import CategoricalCrossentropy

# smaller model
def build_model():
    # create model
    model = Sequential()
    model.add(Dense(256, input_dim=33, activation='relu'))
    model.add(Dense(64, activation='relu'))
    model.add(Dense(32, activation='relu'))
    model.add(Dense(16, activation='relu'))
    model.add(Dense(8, activation='relu'))
    model.add(Dense(1, activation='sigmoid'))
    # Compile model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    # plot_model(model, 'model.png', show_shapes=True)
    return model
estimators = []
estimators.append(('standardize', MinMaxScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=build_model, epochs=10, batch_size=32, verbose=0)))
pipeline = Pipeline(estimators)
kfold = StratifiedKFold(n_splits=5, shuffle=True)
results = cross_val_score(pipeline, X_train, y_train, cv=kfold)
print("Accuracy: %.4f%% (%.4f%%)" % (results.mean()*100, results.std()*100))

Accuracy: 98.4227% (0.2627%)

In [21]:
!jupyter nbconvert --to html /content/drive/MyDrive/major_project/large/Insurance_Fraud_Detection/MLP.ipynb

[NbConvertApp] Converting notebook /content/drive/MyDrive/major_project/large/Insurance_Fraud_Detection/MLP.ipynb to html
[NbConvertApp] Writing 318731 bytes to /content/drive/MyDrive/major_project/large/Insurance_Fraud_Detection/MLP.html

In [22]:
# import pickle
# Save trained model to file
# pickle.dump(model, open("/content/drive/MyDrive/major_project/large/Insurance_Fraud_Detection/insurance_dd.pkl", "wb"))